<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posterr - Home</title>
</head>
<body>
<div id="app" style="width: 70%;">
    <h1>Posterr</h1>
    <p><a href="/">(Show everything)</a> | <a href="#" @click.prevent="filter">(Show only my content)</a></p>
    <h2>Posts</h2>
    <div v-for="post in posts">
        <p>[[ post.content ]]</p>
        <p>From: [[ post.poster ]] at: [[ post.date ]]</p>
        <p><a href="#" @click.prevent="repost({{ post.id }})">Repost</a> | <a href="#">Quote</a></p>
        <hr>
    </div>
    <div v-for="repost in reposts">
        <p>[[ repost.reposter ]] reposted:</p>
        <p>[[ repost.post ]]</p>
        <p>Original poster: [[ repost.author ]] at: [[ repost.date ]]</p>
        <hr>
    </div>
    <div v-for="quote in quotes">
        <p>[[ quote.quoter ]] quoted:</p>
        <p>[[ quote.quote ]]</p>
        <blockquote>[[ quote.post ]]</blockquote>
        <p>Original poster: [[ quote.author ]] at: [[ quote.date ]]</p>
        <hr>
    </div>
    <div id="create_post">
        <h2>Create Post</h2>
        <div id="validation">
            <p>[[ validation ]]</p>
        </div>
        <form method="post" @submit.prevent="createPost($event)" enctype="multipart/form-data">
            <input type="hidden" name="poster" value="1">
            <textarea name="content" cols="30" rows="10" placeholder="Create your post here" v-model.lazy="post_content"></textarea>
            <div>
                <input type="submit" value="Post">
            </div>
        </form>
    </div>
</div>
<script src="https://unpkg.com/vue@3"></script>
<script>
    Vue.createApp({
        data() {
          return {
            validation: '',
            post_content: '',
            posts: [],
            reposts: [],
            quotes: []
          }
        },
        delimiters: ["[[", "]]"],
        methods: {
            createPost(event) {
                
                if(!this.post_content) {
                    this.validation = "There must be content to be posted!";
                    return false;
                }

                // @todo add other validation rules

                let data = new FormData();

                data.append('content', this.post_content);
                data.append('poster',event.srcElement[0]._value);

                fetch('http://127.0.0.1:8000/api/posts/',{
                    method:'POST',
                    body: data
                }).then(response => {
                    console.log(response)
                }).then(data => {});

                return false;
            },
            repost(id){
                console.log('estou aqui');
                console.log(id);
            },
            quote(){

            },
            filter(){
                
                let data = new FormData();
                data.append('user', 4); // arbitrary user
                
                fetch('http://127.0.0.1:8000/api/home/',{
                    method: 'POST',
                    body: data
                })
                .then(response => response.json())
                .then(data => {
                    this.posts = data.posts
                    this.reposts = data.reposts
                    this.quotes = data.quotes
                })           
            }
        },
        mounted() {
            fetch('http://127.0.0.1:8000/api/home/',{})
                .then(response => response.json())
                .then(data => {
                    this.posts = data.posts
                    this.reposts = data.reposts
                    this.quotes = data.quotes
                })
        }
      }).mount('#app')
</script>
</body>
</html>